html,body,#app{
  padding 0;
  margin 0;
  height 100%;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size 14px;
  font-weight: 400;
  vertical-align: baseline;
  box-sizing: border-box;
}
.cursor { cursor:pointer }
.flex { display: -webkit-box; display: -webkit-flex;display: flex; }
.flex-item{ flex: 1; -webkit-flex: 1; -webkit-box-flex: 1; }
.f12{font-size:12px;}
.f13{font-size:13px;}
.f14{font-size:14px;}
.f16{font-size:16px;}

.f18{font-size:18px;}
.f20{font-size:20px;}
.f22{font-size:22px;}
.f24{font-size: 24px;}
.fb{font-weight:bold;}
.fn{font-weight:normal;}
.t2{text-indent:2em;}
.lh50{line-height:50px;}
.lh150{line-height:150%}
.lh180{line-height:180%}
.lh200{line-height:200%}
.unl{text-decoration:underline;}
.no_unl{text-decoration:none;}

.m10{margin:10px;}
.m15{margin:15px;}
.m20{margin: 20px;}
.m30{margin:30px;}
.mt7{margin-top:7px;}
.mt3{margin-top: 3px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt50{margin-top:50px;}
.mt100{margin-top:100px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb50{margin-bottom:50px;}
.mb100{margin-bottom:100px;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml25{margin-left: 25px;}
.ml30{margin-left:30px;}
.ml40{margin-left:40px;}
.ml50{margin-left:50px;}
.ml90{margin-left:90px;}
.ml100{margin-left:100px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}
.mr50{margin-right:50px;}
.mr100{margin-right:100px;}
.p5{padding:5px;}
.p10{padding:10px;}
.p15{padding:15px;}
.p20{padding: 20px;}
.p30{padding:30px;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt30{padding-top:30px;}
.pt38{padding-top: 38px;}
.pt50{padding-top:50px;}
.pt53{padding-top: 53px;}
.pt100{padding-top:100px;}
.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb30{padding-bottom:30px;}
.pb35{padding-bottom:35px;}
.pb50{padding-bottom:50px;}
.pb60{padding-bottom:60px;}
.pb100{padding-bottom:100px;}
.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}
.pl50{padding-left:50px;}
.pl100{padding-left:100px;}
.pr5{padding-right:5px;}
.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px;}
.pr50{padding-right:50px;}

.gray{color:#ccc;}
.gray1{color: #999;}
.gray2{color: #666;}
.black-txt{color:#333;}

.bg-or{background: #ff5741;}
.bg-green{background: #2bb8aa;}
.bg-red{background: red;}
.bg-white{background: #fff;}
.orange{color: #ff4500;}
.orange1{color: #f76120;}
.orange2{color: #ff5741;}
.green{color: #2bb8aa;}
.green1{color: #0e8f82;}
.white{color: #fff;}
.red{color: #f00;}


.bg-black{background-color:#000}
.bg-fff{background-color:#fff}
.c-primary{color:#5a98de}
.c-secondary{color:#555}
.c-success{color:#5eb95e}
.c-danger{color:#dd514c}
.c-warning{color:#f37b1d}
.c-error{color:#c00}
.c-333{color:#333}
.c-666{color:#666}
.c-999{color:#999}
.c-c2c{color:#c2c2c2}
.c-d2d{color:#d2d2d2}
.c-ddd{color:#ddd}
.c-e2e{color:#e2e2e2}
.c-eee{color:#eee}
.c-f2f{color:#f2f2f2}
.c-f0f{color:#F0F0F0}
.c-red{color:red}
.c-green{color:green}
.c-link{color:blue}
.c-white{color:white}
.c-black{color:black}

.c-green01{color:#009688}
.c-green02{color:#5FB878}
.c-black02{color:#393D49}
.c-blue{color:#1E9FFF}
.c-orange{color:#FFB800}
.c-price{color:#FF5722}
.c-blue01{color:#01AAED}
.c-cyan{color:#2F4056}

.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.cb{clear:both;}
.cl{clear:left;}
.cr{clear:right;}
.ti5{text-indent: 5px;}
.ti10{text-indent: 10px;}
.ti15{text-indent: 15px;}

.fl{float: left;}
.fr{float: right;}
.flex{ display: -webkit-box; display: -webkit-flex;display: flex; }
.flex-item{ flex: 1; -webkit-flex: 1; -webkit-box-flex: 1; }
.flex-col{display: flex; flex-direction: column; justify-content: center; vertical-align: middle; }
.flex__item{display: flex;flex: 1; -webkit-flex: 1; webkit-box-flex: 1; justify-content: center; align-items: center; }
.box-sizing{-moz-box-sizing: border-box;  -webkit-box-sizing: border-box;  -o-box-sizing: border-box;  -ms-box-sizing: border-box;  box-sizing: border-box;  }


.txoh{white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.txoh1{overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;}
.txoh2{overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;}
.txoh3{overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;}
.scroll{ overflow: scroll;&::-webkit-scrollbar { display: none}}
.oh{ overflow: hidden; }

.fb{font-weight: bold}
.f12{font-size:12px}
.f14{font-size:14px}
.f16{font-size:16px}
.f18{font-size:18px}
.f20{font-size:20px}
.f22{font-size:22px}
.f24{font-size:24px}
.f26{font-size:26px}
.f28{font-size:28px}
.f30{font-size:30px}
.lh16{line-height:16px}
.lh18{line-height:18px}
.lh20{line-height:20px}
.lh40{line-height:40px}
.lh50{line-height:50px}

.box-sizing { box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}

.br{border-right: 1px #ECECEC solid;}  .bl{border-left: 1px #ECECEC solid;}
.bb{border-bottom: 1px #ECECEC solid;}.bb5{border-bottom: 5px #ECECEC solid;}.bb10{border-bottom: 10px #ECECEC solid;}
.bt{border-top: 1px #ECECEC solid;}.bt5{border-top: 5px #ECECEC solid;}.bt10{border-top: 10px #ECECEC solid;}
.clearfix:after{display:block; visibility:hidden; font-size:0; line-height:0; height:0; content:""; clear:both;width: 100%}

